@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$highlight: #4CAB4D;
$bg-color: #19191c;
$text-color: #bbd5ff;

/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
    color: $text-color;
    line-height: 1.5;
}

body {
    padding: 0 8vw;
    background-color: $bg-color;
    display: block;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 22px;
    color: $text-color;
}

#icon {
    position: fixed;
    top: 2vh;
    left: 2vh;
    font-size: 32px;
    font-weight: 700;
}

/* Swup Transition */
.transition-fade {
    position: relative;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    left: 0;
    opacity: 1;
}

html.is-animating .transition-fade {
    left: -20%;
    opacity: 0;
}

#landing {
    height: 100vh;
    padding-top: 6vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;

    .title {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
    }
}


.navbar {
    
    @media screen and (min-width: 1000px) {
        
    }
}

.selectable {
    display: block;
    width: fit-content;
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 600;
    position: relative;

    .highlight{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $highlight;
        transition: width 0.5s;
        z-index: -1;
    }
}

@media screen and (min-width: 1000px) {
    .selectable:hover .highlight{
        width: 100%;
    }
}

#about-me {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    h2 {
        font-size: 28px;
    }
}

#projects{
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h1 {
        margin-bottom: 32px;
    }
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        max-width: 80vw;
        border-radius: 16px;
    }

    h2 {
        font-size: 40px;
    }

    p {
        display: none;
    }
}